.DS_Store
bin
obj
*.user
*.suo
*.docstates
*.nupkg
*.orig
*.rej
*.dll
StyleCop.Cache
Output
TestResult.xml
testdb.sqlite
packages

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

.vagrant
.vscode
.vs
