<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="Insight.Database.Providers.MiniProfiler" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="Insight.Database.Providers.MySql" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="Insight.Database.Providers.Oracle" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="Insight.Database.Providers.OracleManaged" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="Insight.Database.Providers.PostgreSQL" version="3.0.0-alpha1" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net45" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net45" />
  <package id="odp.net.managed" version="112.3.60" targetFramework="net45" />
</packages>