<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Odbc" connectionString="Driver={SQL Server};Server=.;Database=InsightDbTests; Trusted_Connection=Yes;"/>
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="10.0.0.0" newVersion="14.0.0.0" />
        <bindingRedirect oldVersion="11.0.0.0" newVersion="14.0.0.0" />
        <bindingRedirect oldVersion="12.0.0.0" newVersion="14.0.0.0" />
        <bindingRedirect oldVersion="13.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
