<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!-- Use this connection strings for a local standard SQL Server: -->
		<add name="Test" connectionString="Data Source = .; Initial Catalog = InsightDbTests;
			 Asynchronous Processing = true; Integrated Security = true" providerName = "System.Data.SqlClient"/>

		<!-- Use this connection strings for Microsoft's newer LocalDb server: -->
		<!--<add name="Test" connectionString="Data Source=(localdb)\InsightDb; Initial Catalog = InsightDbTests;
			 Asynchronous Processing = true; Integrated Security = true;" providerName = "System.Data.SqlClient"/>  -->
	</connectionStrings>
</configuration>
