<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!-- Use this connection strings for a local standard SQL Server: -->
		<add name="Test" connectionString="Data Source = .; Initial Catalog = InsightDbTests;
			 Asynchronous Processing = true; Integrated Security = true" providerName = "System.Data.SqlClient"/>

		<!-- Use this connection strings for Microsoft's newer LocalDb server: -->
		<!--<add name="Test" connectionString="Data Source=(localdb)\InsightDb; Initial Catalog = InsightDbTests;
			 Asynchronous Processing = true; Integrated Security = true;" providerName = "System.Data.SqlClient"/>  -->
	</connectionStrings>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
