<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Test" connectionString="Asynchronous Processing = true; Integrated Security = true; Data Source = .; Initial Catalog = InsightDbTests" providerName = "System.Data.SqlClient"/>
	</connectionStrings>
</configuration>